.login-container {
  background-color: rgb(235, 233, 233);
  height: 100vh;              
  display: flex;           
  justify-content: center;    
  align-items: center;     
}

.login-card {
  background: #ffffff;
  padding-bottom: 20px;  
  border-radius: 12px;
  box-shadow: 10px 30px 40px rgba(0, 0, 0, 0.2);
  width: 450px;
  transition: transform 0.3s ease;
  text-align: center;
}
.header-card img{
  width: 190px;
  height: 100%;
}
.login-form {
  width: 100%;
  display: block;
}

.login-form input {
  padding: 8px;
  width: 300px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #ccc;
  /* outline: none; */
  font-size: 14px;
  transition: border 0.2s ease;
}
.login-form button{
  background-color: #007A53;
  color: white;
  padding: 8px;
  width: 320px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 16px;
}
