.receipt-container {
  width: 100%;
  padding: 30px;
  background: #f5f7fa;
}

.receipt-container h2 {
  margin-bottom: 20px;
}


.pre-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pre-header button{
  height:fit-content;
  background-color: #476d9b;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.receipt-box {
  padding: 25px;
  width: 600px;
  border-collapse: collapse;
  margin-top: 10px;
}


.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgb(109, 108, 108);  
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #222;
}

.link {
  color: blue;
  text-decoration: underline;
}


.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #007a53;
}


.signature-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.line {
  margin-top: 40px;
  border-bottom: 1px solid #000;
  width: 150px;
}