html,
body {
  margin: 0;
  height: 100%;
}
.sidebox {
  background-color:#264b7a;
  min-height: 100vh;
  width: 250px;
  border-radius: 3px;
  text-align: center;
}

.image {
  margin: 10px 40px 10px 20px;
  border-radius: 8px;
  /* background-color: rgb(255, 255, 255); */
  width: 210px;
}

.image img {
  width: 150px;
}
.dashItem {
  color: white;
  margin-left:10px ;

}
.dashItem a {
  
  text-decoration: none;
}
.dashItem button {
  width: 230px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #476d9b;
  display: block;
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}
